//변수 정의
$pretendard: 'Pretendard', sans-serif;
$fs-14: 1.4rem;
$fs-16: 1.6rem;
$fs-18: 1.8rem;
$fs-20: 2rem;
$fs-25: 2.5rem;
$fs-30: 3rem;
$fs-35: 3.5rem;
$fs-40: 4rem;
$fs-50: 5rem;
$theme-bk: #1e1e1e;
$theme-bg: #efe5d9;
$bp-P1500: 1500px;
$bp-T1024: 1024px;
$bp-M768: 768px;
$bp-M420: 420px;

@mixin responsive($size) {
    @media screen and (max-width:$size) {
        @content;
    }
}

@mixin fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

@mixin ellipse($line: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*기본 CSS*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $pretendard;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    position: relative;
    min-width: 280px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: $pretendard;
    color: #000;
}

ol,
ul,
dl {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
}

.skip_tag {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

.container {
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
}

/*Header*/
#hd {
    @include fixed;
    display: flex;
    align-items: center;
    height: 7rem;
    background: rgba(255, 255, 255, 0.4);
    padding: 0 8rem;
    z-index: 1000;

    #all_open {
        position: relative;
        width: 36px;
        height: 100%;
        margin-right: 5rem;

        .bar {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 3px;
            background: $theme-bk;

            &.bar1 {
                margin-top: -12px;
            }

            &.bar3 {
                margin-top: 12px;
            }
        }
    }

    .logo {
        margin-right: auto;
        max-width: 190px;

        img {
            display: block;
        }
    }

    #gnb {
        margin-right: 6%;

        ul {
            display: flex;
            column-gap: 8.5rem;

            li a {
                display: block;
                line-height: 7rem;
                font-size: $fs-18;
                font-weight: 700;
            }
        }
    }

    .hd_search {
        width: 16rem;
        position: relative;
        margin-left: auto;

        .s_txt {
            width: 100%;
            height: 40px;
            padding: 0 40px 0 14px;
            border-radius: 20px;
            background: none;
            border: 2px solid #1c1d1d;
        }

        .s_btn {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            text-align: left;

            img {
                vertical-align: middle;
            }
        }

    }
}

#all_menu {
    @include fixed;
    height: 0;
    background: $theme-bk;
    z-index: 1100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &.on {
        height: 100vh;
        opacity: 1;
        visibility: visible;
    }

    .all_top {
        display: flex;
        align-items: center;
        padding: 8rem 3rem 3rem 10rem;
        border-bottom: 1px solid #adadad;

        strong {
            font-size: $fs-30;
            font-weight: 900;
            color: #fff;
            margin-right: auto;

            img {
                width: 190px;
                margin-right: 10px;
            }
        }

        #all_close {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #fff;

            .bar {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 60%;
                height: 2px;
                background: #fff;

                &.bar1 {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }

                &.bar2 {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }
    }

    .all_gnb {
        .dep1_ul {
            display: flex;
            flex-wrap: wrap;
            max-height: calc(100vh - 200px);
            overflow-y: auto;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
                width: 0 !important;
            }

            .dep1_li {
                width: 20%;
                text-align: center;

                .dep1_a {
                    display: block;
                    font-size: $fs-25;
                    font-weight: 700;
                    color: #fff;
                    padding: 4.5rem 0 3.5rem;
                }

                .dep2_ul {
                    &.sub_yes {
                        .dep2_li {
                            margin-top: 5rem;

                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }

                    .dep2_li a {
                        display: block;
                        font-size: $fs-18;
                        color: #fff;
                        padding: 10px;
                    }

                    .dep3_a {
                        &::before {
                            content: "-";
                            display: inline-block;
                            margin-right: 2px;
                        }
                    }
                }
            }
        }
    }
}

/*Main*/
main {
    position: relative;
    background: linear-gradient(to bottom, #efe5d9 43.3%, #1e1e1e 0%);
    padding-bottom: 6.5rem;

    #floating_tab {
        background: #8f8f8f;
        max-width: 90px;
        margin: 10rem auto 0;
        border-radius: 35px;
        padding: 8px 10px;
        position: sticky;
        left: 0;
        bottom: 35px;
        z-index: 999;
        opacity: 0;
        transform: translateY(15vh);
        transition: transform 0.3s, opacity 0.5s, max-width 0.5s 0.3s;

        &.on {
            max-width: 660px;
            transform: translateY(0);
            opacity: 1;

            ul li a {
                opacity: 1;
            }
        }

        ul {
            display: flex;
            align-items: center;
            column-gap: 10px;
            text-align: center;

            li {
                width: calc(33.3333% - 7px);

                a {
                    display: block;
                    font-size: $fs-18;
                    font-weight: 700;
                    color: #fff;
                    line-height: 5rem;
                    border-radius: 35px;
                    white-space: nowrap;
                    opacity: 0;
                    overflow: hidden;
                    transition: opacity 0.5s 0.6s, background-color 0.3s;

                    &:focus,
                    &:hover,
                    &.on {
                        background-color: #000;
                    }

                    img {
                        vertical-align: middle;
                        width: 30px;
                        margin-right: 12px;
                    }
                }
            }
        }
    }
}

#main_container {
    overflow: hidden;

    .main_sec {
        position: relative;
        z-index: 1;
        transform: translateY(-15px);
        transition: transform 0.7s cubic-bezier(0.35, 1, 0.65, 1);
    }

    .ani {
        transform: translateY(0);
    }

    h2 {
        font-size: $fs-50;
        font-weight: 600;
        margin-bottom: 4rem;
        letter-spacing: -3px;
    }

    .video_box {
        position: relative;
        width: 100%;
        max-width: 1120px;
        padding-top: 42.5%;
        border-radius: 35px;
        overflow: hidden;
        margin: 0 auto;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .swiper {
        overflow: visible;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            transform: translateY(-50%);
            width: 100%;
            height: calc(100% + 3rem);
            z-index: 5;
        }

        .inner_box {
            display: block;
            position: relative;
            border-radius: 35px;
            overflow: hidden;
            padding-top: 159%;
            box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.4);

            .back_item {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                transition: all 0.3s;
            }

            &:focus .back_item,
            &:hover .back_item {
                transform: scale(1.04);
            }
        }

        .swiper-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 8.5rem;
            height: 8.5rem;
            z-index: 5;
            cursor: pointer;

            &.btn-prev {
                right: calc(100% - 4.75rem);
            }

            &.btn-next {
                left: calc(100% - 4.75rem);
            }
        }
    }

    #main_sec1 {
        padding: 17rem 0 7rem;
    }

    #main_sec2 {
        padding: 7rem 15px;

        .swiper {
            &::before {
                background: $theme-bg;
            }

            h3 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 12.5rem;
                font-size: $fs-25;
                line-height: 1.4;
                font-weight: 500;
                color: #fff;
                background: rgba(0, 0, 0, 0.8);
                padding: 2.5rem 2rem;
                z-index: 1;

                span {
                    display: block;
                    word-break: keep-all;
                    @include ellipse;
                }
            }

            .back_item {
                @for $i from 1 through 10 {
                    &.item#{$i} {
                        background-image: url("../img/main_sec2_img#{$i}.png");
                    }
                }
            }
        }
    }

    #main_sec3 {
        padding: 7rem 15px;
    }

    #main_sec4 {
        padding: 7rem 15px;

        h2 {
            color: #fff;
        }

        .swiper {
            &::before {
                background: $theme-bk;
            }

            .inner_box {
                .back_item {
                    @for $i from 1 through 10 {
                        &.item#{$i} {
                            background-image: url("../img/main_sec4_img#{$i}.png");
                        }
                    }
                }

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 60%;
                    max-height: 20%;
                    z-index: 1;
                }
            }
        }
    }

    #main_sec5 {
        padding: 7rem 15px;

        h2 {
            color: #fff;
        }
    }

    #main_sec6 {
        padding: 7rem 15px;

        h2 {
            color: #fff;
        }

        .swiper {
            &::before {
                background: $theme-bk;
            }

            .inner_box {
                padding-top: 77%;

                .back_item {
                    @for $i from 1 through 10 {
                        &.item#{$i} {
                            background-image: url("../img/main_sec6_img#{$i}.jpg");
                        }
                    }
                }
            }

            .btm_box {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 1;
                background: rgba(0, 0, 0, 0.4);
                line-height: 1.3;
                padding: 1.5rem 3rem;
                color: #fff;

                h3 {
                    @include ellipse;
                    font-size: $fs-16;
                }

                span {
                    display: block;
                    margin-top: 5px;
                    font-weight: 600;
                    font-size: $fs-14;
                }
            }
        }
    }
}

/*Footer*/
#ft {
    border-top: 2px solid #5f5f5f;
    background: $theme-bk;
    color: #909090;
    font-size: $fs-18;

    .ft_top {
        padding: 10rem 15px;
        position: relative;

        .compy_txt {
            display: block;
            font-size: $fs-30;
            color: #fff;
            margin-bottom: 6rem;
            line-height: 1.4;
        }

        .compy_name {
            margin-bottom: 4rem;
            font-size: 2.3rem;

            strong {
                font-size: $fs-30;
            }
        }

        .compy_info {
            dl {
                margin-top: 1.5rem;

                dt,
                dd {
                    display: inline-block;
                }

                dt {
                    &::before {
                        content: "";
                        width: 2px;
                        height: 18px;
                        background: #909090;
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0 10px 0 7px;
                    }

                    &:first-child::before {
                        content: none;
                    }
                }
            }
        }

        .ft_sns {
            display: flex;
            align-items: center;
            position: absolute;
            right: 15px;
            top: 110px;
            column-gap: 10px;

            li a {
                display: block;
                width: 8rem;
                line-height: 8rem;
                border-radius: 20px;
                background: #5f5f5f;
                text-align: center;

                img {
                    vertical-align: middle;
                }
            }
        }

        .compy_copy {
            margin-top: 4rem;
        }
    }

    .ft_btm {
        position: relative;
        padding: 6rem 15px 8rem;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            top: -1px;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 2px;
            min-width: 280px;
            background: #5f5f5f;
        }

        .ft_link {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem 4rem;
            margin-left: 5rem;

            li a {
                color: #909090;
                font-weight: 500;
                font-size: $fs-16;

                &::after {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    width: 14px;
                    height: 14px;
                    background: url('../img/ft_blank.png') no-repeat left top / auto 100%;
                    margin-left: 4px;
                }

                &.on {
                    color: #fff;
                    font-size: $fs-18;

                    &::after {
                        background-position-x: right;
                    }
                }
            }
        }

        .ft_family {
            position: relative;
            width: 24rem;
            margin-left: auto;
            z-index: 10;

            .fam_btn {
                position: relative;
                width: 100%;
                height: 5.5rem;
                border: 3px solid #7d7d7d;
                border-radius: 30px;
                font-size: $fs-18;
                font-weight: 600;
                color: #7d7d7d;
                background: #1e1e1e;

                &::after {
                    content: "";
                    width: 9px;
                    height: 6px;
                    background: url('../img/family_btn.png') no-repeat center;
                    position: absolute;
                    top: 50%;
                    margin-top: -3px;
                    right: 4rem;
                    transition: all 0.3s;
                }

                &.on::after {
                    transform: rotate(-180deg);
                }
            }

            .fam_list {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                left: 0;
                bottom: calc(100% + 6px);
                width: 100%;
                padding: 2rem 2.5rem;
                border: 3px solid #7d7d7d;
                border-radius: 30px;
                background: #1e1e1e;
                transition: all 0.3s;

                &.on {
                    opacity: 1;
                    visibility: visible;
                }

                strong {
                    font-size: 1.2rem;
                    color: #7d7d7d;
                    display: flex;
                    align-items: center;
                    margin: 5px 0;

                    &::after {
                        content: "";
                        width: 100%;
                        height: 1px;
                        background: #7d7d7d;
                        margin-left: 10px;
                    }
                }

                ul li a {
                    font-size: $fs-18;
                    line-height: 1.6;
                    color: #e9e9e9;
                    font-weight: 600;
                }
            }
        }
    }
}

#top_btn {
    position: fixed;
    right: 5rem;
    bottom: 7rem;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &.on {
        opacity: 1;
        visibility: visible;
    }
}

.body_back {
    position: absolute;
    bottom: 7%;
    left: 0;
}


/*반응형*/
@include responsive($bp-P1500) {

    /*Header*/
    #hd {
        padding: 0 15px;

        #all_open {
            margin-right: 2rem;
            width: 30px;

            .bar {
                height: 2px;

                &.bar1 {
                    margin-top: -9px;
                }

                &.bar3 {
                    margin-top: 9px;
                }
            }
        }

        .logo {
            max-width: 170px;
        }

        #gnb {
            margin-right: 0;

            ul {
                column-gap: 6rem;
            }
        }
    }

    #all_menu {
        .all_top {
            padding: 8rem 3rem 3rem;

            strong {
                img {
                    width: 170px;
                }
            }
        }
    }

    /*Main*/
    #main_container {
        .video_box {
            padding-top: 55%;
        }

        .swiper {
            .swiper-nav {
                width: 7rem;
                height: 7rem;

                &.btn-prev {
                    right: calc(100% - 6rem);
                }

                &.btn-next {
                    left: calc(100% - 6rem);
                }
            }
        }

        #main_sec2 {
            .swiper {
                h3 {
                    height: 10rem;
                    font-size: $fs-20;
                    padding: 2rem;
                }
            }
        }

        #main_sec6 {
            .swiper {
                .btm_box {
                    padding: 1.5rem 2rem;
                }
            }
        }
    }

    /*Footer*/
    #ft {
        font-size: $fs-16;

        .ft_top {
            padding: 9rem 15px;

            .compy_txt {
                font-size: $fs-25;
            }

            .compy_name {
                font-size: $fs-20;

                strong {
                    font-size: $fs-25;
                }
            }

            .compy_info {
                dl {
                    dt {
                        &::before {
                            height: 14px;
                            vertical-align: baseline;
                        }
                    }
                }
            }

            .ft_sns {
                li a {
                    width: 7rem;
                    line-height: 7rem;
                }
            }
        }

        .ft_btm {
            padding: 5rem 15px;
            flex-wrap: wrap;

            .ft_logo {
                width: 100%;

                img {
                    width: 250px;
                }
            }

            .ft_link {
                width: calc(100% - 20rem);
                gap: 0.5rem 2rem;
                margin-left: 0;
                margin-top: 1.5rem;
                padding-right: 2rem;
            }

            .ft_family {
                width: 20rem;

                .fam_btn {
                    height: 5rem;
                    border-width: 2px;
                    font-size: $fs-16;

                    &::after {
                        right: 2.5rem;
                    }
                }

                .fam_list {
                    ul li a {
                        font-size: $fs-16
                    }
                }
            }
        }
    }

    #top_btn {
        right: 1.5rem;
    }

    .body_back {
        bottom: 10%;
    }
}

@include responsive($bp-T1024) {

    /*Header*/
    #hd {
        #all_open {
            margin-right: 12rem;
        }

        .logo {
            margin: 0 auto;
        }

        #gnb {
            display: none;
        }

        .hd_search {
            margin-left: 0;
        }
    }

    #all_menu {
        .all_top {
            padding: 6rem 15px 2rem;

            #all_close {
                width: 45px;
                height: 45px;
            }
        }

        .all_gnb {
            .dep1_ul {
                .dep1_li {
                    .dep1_a {
                        font-size: $fs-20;
                        padding: 4rem 0 2rem;
                    }

                    .dep2_ul {
                        &.sub_yes {
                            .dep2_li {
                                margin-top: 3rem;
                            }
                        }

                        .dep2_li a {
                            font-size: $fs-16;
                        }
                    }
                }
            }
        }
    }

    /*Main*/
    main {
        #floating_tab {
            margin-top: 6rem;
            padding: 6px 8px;

            &.on {
                width: 90%;
                max-width: 550px;
            }

            ul li a {
                font-size: $fs-16;
                line-height: 4.5rem;

                img {
                    width: 24px;
                }
            }
        }
    }

    #main_container {
        h2 {
            font-size: $fs-40;
            margin-bottom: 3rem;
        }

        .swiper {
            .swiper-nav {
                width: 6rem;
                height: 6rem;

                &.btn-prev {
                    right: calc(100% - 5rem);
                }

                &.btn-next {
                    left: calc(100% - 5rem);
                }
            }
        }

        #main_sec1 {
            padding: 14rem 0 6rem;
        }

        #main_sec2 {
            .swiper {
                h3 {
                    height: 9rem;
                    font-size: $fs-18;
                }
            }
        }

        #main_sec2,
        #main_sec3,
        #main_sec4,
        #main_sec5,
        #main_sec6 {
            padding: 6rem 15px;
        }

        #main_sec6 {
            .swiper {
                .btm_box {
                    padding: 1.5rem;

                    h3 {
                        font-size: $fs-14;
                    }

                    span {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    /*Footer*/
    #ft {
        border-width: 1px;

        .ft_top {
            padding: 7rem 15px;

            .compy_txt {
                font-size: $fs-20;
            }

            .compy_name {
                font-size: $fs-18;

                strong {
                    font-size: $fs-20;
                }
            }

            .compy_info {
                dl {
                    dt {
                        &::before {
                            height: 12px;
                        }
                    }
                }
            }

            .ft_sns {
                li a {
                    width: 6rem;
                    line-height: 6rem;

                    img {
                        max-width: 50%;
                    }
                }
            }
        }

        .ft_btm {
            padding: 5rem 15px;

            &::before {
                height: 1px;
            }

            .ft_logo {
                img {
                    width: 200px;
                }
            }

            .ft_link {
                width: 100%;
                padding-right: 0;

                li a {
                    font-size: $fs-14;

                    &.on {
                        font-size: $fs-16;
                    }

                    &::after {
                        width: 10px;
                        height: 10px;
                    }
                }
            }

            .ft_family {
                width: 100%;
                margin-top: 2rem;

                .fam_btn {
                    height: 4rem;
                    border-width: 2px;
                    font-size: $fs-14;
                }

                .fam_list {
                    ul li a {
                        font-size: $fs-14;
                    }
                }
            }
        }
    }
}

@include responsive($bp-M768) {

    /*Header*/
    #hd {
        #all_open {
            margin-right: 0;
        }

        .logo {
            margin: 0 auto;
        }

        .hd_search {
            display: none;
        }
    }

    #all_menu {
        .all_top {
            padding: 4rem 15px 2rem;

            strong {
                font-size: $fs-18;

                img {
                    width: 110px;
                    margin-right: 5px;
                }
            }

            #all_close {
                width: 35px;
                height: 35px;
            }
        }

        .all_gnb {
            margin-top: 3rem;

            .dep1_ul {
                .dep1_li {
                    width: 100%;
                    text-align: left;

                    .dep1_a {
                        font-size: $fs-18;
                        padding: 1.5rem 0;
                        border-bottom: 1px solid #adadad;
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 30px;
                            height: 30px;
                            margin-top: -15px;
                            background: url('../img/menu_arrow.png') no-repeat center;
                            transition: all 0.3s;
                        }

                        &.on::after {
                            transform: rotate(-180deg);
                        }
                    }

                    .dep2_ul {
                        display: none;
                        padding: 1rem 0;
                        border-bottom: 1px solid #adadad;

                        &.show {
                            display: block;
                        }

                        &.sub_yes {
                            .dep2_li {
                                margin-top: 0;
                            }
                        }

                        .dep2_li a br {
                            display: none;
                        }

                        .dep2_li>a {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    /*Main*/
    main {
        #floating_tab {
            margin-top: 5rem;
            bottom: 20px;

            ul li a {
                font-size: $fs-14;
                line-height: 3.5rem;

                img {
                    width: 16px;
                }
            }
        }
    }

    #main_container {
        h2 {
            font-size: $fs-35;
            margin-bottom: 2rem;
        }

        #main_sec1 {
            padding: 12rem 0 5rem;
        }

        #main_sec2 {
            .swiper {
                h3 {
                    height: 8rem;
                    font-size: $fs-16;
                }
            }
        }

        #main_sec2,
        #main_sec3,
        #main_sec4,
        #main_sec5,
        #main_sec6 {
            padding: 5rem 15px;
        }
    }

    /*Footer*/
    #ft {
        font-size: $fs-14;

        .ft_top {
            padding: 4rem 15px;

            .compy_txt {
                font-size: $fs-18;
                margin-bottom: 2rem;
            }

            .compy_name {
                margin-bottom: 2rem;

                strong {
                    font-size: $fs-16;
                }
            }

            .compy_info dl {
                margin-top: 1rem;
            }

            .ft_sns {
                position: static;
                margin-bottom: 2rem;
            }

            .compy_copy {
                margin-top: 2rem;
            }
        }

        .ft_btm {
            padding: 2rem 15px;

            .ft_logo {
                img {
                    width: 170px;
                }
            }

            .ft_link {
                li a {
                    font-size: 1.3rem;

                    &.on {
                        font-size: $fs-14;
                    }
                }
            }
        }
    }
}

@include responsive($bp-M420) {
    /*Main*/
    main {
        #floating_tab {
            margin-top: 3rem;
            bottom: 20px;

            ul li a {
                font-size: 0;

                img {
                    width: 16px;
                    margin: 0;
                }
            }
        }
    }

    #main_container {
        .video_box {
            border-radius: 20px;
        }
    
        .swiper {
            .inner_box {
                border-radius: 20px;
            }
    
            .swiper-nav {
                display: none;
            }
        }

        #main_sec2,
        #main_sec3,
        #main_sec4,
        #main_sec5,
        #main_sec6 {
            padding: 3rem 15px;
        }
    }
}